<div class="welcome-container">
  <div class="welcome-img">
    <img
      src="/assets/mother-and-child.jpg"
      alt="mother-and-child"
      class="hover-img"
    />
  </div>
  <div class="welcome-content">
    <h2 class="heading">WELCOME<span class="underline-heading"></span></h2>
    <p class="mb-4">
      Welcome to Able Options Pty Ltd, your trusted partner in support services
      across the North and Northwest coast of Tasmania, as well as Brisbane and
      its surrounding areas. We specialize in personalized support tailored to
      meet the unique needs of each participant, prioritizing individual
      aspirations every step of the way.
    </p>
  </div>
</div>
