<div class="content-3 relative">
  <!-- <div class="overlay absolute h-full w-full"></div> -->
  <div class="content-3-content">
    <h3>MEET THE TEAM</h3>
    <p>
      Our team is made up of excellent support professionals with caring
      attitude whilst maintaining professionalism throughout the task
      undertaken. Our team is united in their passion for creating possibilities
      for the vulnerable and persons living with disabilities through a
      collaborative and person-centred approach. Your care, your way because you
      MATTER!!!
    </p>
  </div>
  <div class="content-3-img">
    <img alt="team work" src="/assets/team-hands.jpg" />
  </div>
</div>
