<section>
  <div class="content container">
    <div class="contact-info">
      <h2 class="heading">GET IN TOUCH</h2>
      <ul class="contact-details">
        <li>
          <a>admin&#64;ableoptions.com.au </a>
        </li>
        <li>
          <a> 0448 013 317 </a>
        </li>
        <li>Mondays - Fridays 9:00 AM - 5:00 PM</li>
        <li>Service Hours: 24/7</li>
      </ul>
    </div>
    <div class="form-section">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>
