<div class="our-mission-container">
  <div class="our-mission-content">
    <h2 class="heading">OUR MISSION <span class="underline-heading"></span></h2>
    <p class="mb-4">
      At Able Options, our mission is to empower vulnerable individuals and
      those living with disabilities to achieve their utmost potential. With a
      commitment to inclusivity, we offer support services catering to all ages
      and abilities.
    </p>
  </div>
  <div class="our-mission-img-container">
    <img [src]="image" [alt]="image.split('.')[0]" class="hover-img" />
  </div>
</div>
