<div class="the-team-container">
  <div class="the-team-content">
    <h2 class="heading">
      MEET THE TEAM<span class="underline-heading"></span>
    </h2>
    <p class="text-size">
      Our team is made up of excellent support professionals with caring
      attitude whilst maintaining professionalism throughout the task
      undertaken. Our team is united in their passion for creating possibilities
      for the vulnerable and persons living with disabilities through a
      collaborative and person-centred approach. Your care, your way because you
      MATTER!!!
    </p>
  </div>
  <div class="the-team-img">
    <img src="assets/team-hands.jpg" alt="team-hands" class="hover-img" />
  </div>
</div>
