<section>
  <div class="image-slide">
    <app-image-side
      image="assets/group-people-volunteering-foodbank-poor-people.JPG"
      title="Services"
    ></app-image-side>
  </div>

  <div class="container">
    <div class="grid-fix h-fit">
      <!-- COMMUNITY ACCESS -->

      <app-service-card
        image="assets/Group-of-people-playing-cards.jpg"
        alt="Group-of-people-playing-cards"
        title="COMMUNITY ACCESS"
        text="  At Able Options, we understand how crucial it is to derive
    satisfaction from one's daily activities. We also recognise that no
    two people are alike. With this in mind, we provide both center-based
    and community-based services with limitless possibilities. You tell us
    what you like to do, and we will work with you to create a plan."
      >
      </app-service-card>

      <!-- PERSONAL CARE-->
      <app-service-card
        image="assets/girl-on-wheelchair.webp"
        alt="girl-on-wheelchair"
        title="PERSONAL CARE"
        text=" Our participants who require support with personal care are assisted
    in a respectful and dignified way in helping them to maximise their
    independence. With utmost care, our caring and dedicated support
    professionals provides support where necessary whilst also promoting
    independence and functional skill of the participant with activities
    of daily living such as Assist with shower, grooming, toileting,
    eating and drinking etc, and we tailor all personal care services
    according to participants individualised plan."
      ></app-service-card>
    </div>
    <div class="grid-fix">
      <!--SUPPORTED LIVING-->
      <app-service-card
        title="SUPPORTED LIVING"
        alt="help-elderly"
        image="assets/help-elderly.webp"
        text="   Supported independent living provides you with flexibility, giving you
    control over the type and level of care or support needed either now
    or in the long-term.       Our team of professional support workers provides support in assisting
    you to live independently as best as possible with our skills and
    professionalism, to aid you in becoming more independent in achieving
    your set goals by collaborating with you, families and support
    networks in identifying the right type and amount of support needed to
    reach your goal with our model of care (your care, your way) because
    you matter.    We also focus on developing the skills of everyone to live as
    autonomously as possible."
      >
      </app-service-card>

      <!--SOCIAL SUPPORTS-->
      <app-service-card
        title="SOCIAL SUPPORTS"
        text="At Able options we offer our participants to community inclusion such
      as shopping, outings and recreational activities tailored to their
      needs. We encourage our participants by providing social supports to
      improve their health and wellbeing and working together as to
      determine what social support suits their needs.     Our activity plans are centred on social, and community access as well
      the development of life skills.
    "
        alt="Disabled-child"
        image="assets/Disabled-child.webp"
      ></app-service-card>
    </div>
    <div class="grid-fix">
      <!--COMMUNITY PARTICIPATION-->
      <app-service-card
        title="COMMUNITY PARTICIPATION"
        text="         We at Able Options enjoy the excitement that comes from getting our
    clients involved in community events. We continually look for
    possibilities for our clients to be involved in community-based
    activities, from going on daily walks to attending movies and other
    social settings with the community."
        alt="people-with-disabilities"
        image="assets/people-with-disabilities.jpg"
      ></app-service-card>

      <!--DOMESTIC ASSISTANCE/HOUSEHOLD TASK-->
      <app-service-card
        title="DOMESTIC ASSISTANCE/ HOUSEHOLD TASK"
        text="       Our professional support workers support participants with household
    and domestic activities such as cleaning, vacuuming, dusting in
    assisting participants to maintain a clean and safe environment, which
    aims to reduce stress and boost individual confidence."
        image="assets/baking.webp"
        alt="baking"
      >
      </app-service-card>

      <!--TRAVEL / TRANSPORTATION-->
    </div>
    <div class="grid-fix">
      <app-service-card
        title="TRAVEL / TRANSPORTATION"
        text=" Our clients are safely transported between their everyday activities,
    such as grocery shopping, and any personal appointments, such as
    doctor visits, medication pick-up or work-related transport."
        image="assets/man-pushing-wheelchair.webp"
        alt="man-pushing-wheelchair"
      >
      </app-service-card>

      <div class="card">
        <div class="card-content">
          <p>
            We would love to hear from you! At Able Options, our mission is to
            collaborate with the community, businesses, and government to meet
            the holistic needs of our clients. We are dedicated to excellence
            and offer a range of high-quality programs, including supportive,
            recreational, cultural, sporting, and welfare initiatives.
          </p>
          <p>
            Our team is passionate about serving our clients and creating a
            positive impact. Together, we can make a difference in the lives of
            those we support.
          </p>
          <p>
            Contact us today and let’s work together towards fulfilling our
            mission of meeting the holistic needs of our clients with
            excellence.
          </p>
          <button class="contact-us">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</section>
