<section>
  <div class="image-slide">
    <app-image-side
      image="/assets/authentic-small-youthful-marketing-agency.JPG"
      title="Team"
    ></app-image-side>
  </div>

  <div class="content container">
    <div class="card">
      <div class="card-img">
        <img src="assets/team-hands.jpg" alt="team-hands" />
      </div>
      <div class="card-content">
        <p class="text-size">
          Our team is made up of excellent support professionals with caring
          attitude whilst maintaining professionalism throughout the task
          undertaken. Our team is united in their passion for creating
          possibilities for the vulnerable and persons living with disabilities
          through a collaborative and person-centred approach. Your care, your
          way because you MATTER!!!
        </p>
        <button class="referral">Referral</button>
      </div>
    </div>
  </div>
</section>
