<section>
  <div>
    <app-slider></app-slider> 
  </div>
  <div class="home-main-content">
    <div class="content-1">
      <div class="container content-1-content">
        <app-welcome></app-welcome>
      </div>
    </div>
    <div class="container content">
      <app-our-mission
        class="rounded"
        image="assets/Disabled-child.webp"
      ></app-our-mission>
    </div>

    <div class="content-2">
      <div class="container">
        <app-our-values></app-our-values>
      </div>
    </div>
    <div class="container content-3">
      <app-theteam></app-theteam>
    </div>
  </div>
</section>
